form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
   
  label {
    font-weight: bold;
    margin-top: 10px;
  }
   
  input, textarea {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    resize: none;
  }
   
  button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #bedeff;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
  }

  html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-image: url(https://yastatic.net/s3/bro-bg-store/60d96886-77aa-408b-8593-ae7111335979.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .menu {
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    margin: 10px 35px 10px 35px;
    color: #000;
    position: relative;
    text-decoration: none;
    float: center;
  }
  .menu::before {
    background: rgb(230, 205, 255);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
  }
  .nav {
    margin: 20px;
    text-align: center;
  }
  .menu:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
